.baner {
  height: 508px;
  background-color: #b50318;
  border-bottom: 5px solid #b07d48;
}

.langWrapperBanner {
  display: flex;
  justify-content: center;
}

.bigEmblem {
  display: flex;
  justify-content: center;
}

.emblemWord {
  width: 300px;
  margin: 0 22px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 73px;
  color: #f6f5f2;
}

.taglineWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.tagline {
  text-transform: uppercase;
  width: 124px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #f6f5f2;
}

.navBar {
  position: relative;
  border-top: 5px solid rgba(176, 125, 72, 0.5);
  background: rgba(255, 255, 255, 0.8);

  height: 68px;
  display: flex;
  align-items: center;
}

.navBarItem {
  text-transform: capitalize;
  margin-left: 30px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.navBarItemActive {
  color: #b11023;
  text-decoration: underline;
}

/* small header */

.smallBannerWrapper {
  position: relative;
  background-color: #b50318;
  height: 105px;
  border-bottom: 5px solid #b07d48;
  display: flex;
}

.littleEmblemWrapper {
  margin: 0 9px 0 33px;
  display: flex;
  align-items: center;
}

.littleEmblemImg {
  width: 68px;
  height: 62px;
}

.littleEmblemWors {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 193px;
}

.firstEmblemWord {
  text-transform: uppercase;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #f6f5f2;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.secondEmblemWord {
  text-transform: uppercase;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #f6f5f2;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.langWrapperLittle {
  position: absolute;
  right: 50px;
}

.themeWrapper {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
