.mainContainer {
  position: relative;
  background-image: url('/public/images/bg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 245px;
  min-height: 100vh;
}
